@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.main-wrapper {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background: #002f40;
  z-index: 100;
}
.row {
  margin: 0 !important;
}
[class^="col-"] {
  padding: 5px !important;
}
.modal-open {
  overflow: auto !important;
}
.modal-dialog {
  width: 360px !important;
}
body {
  padding-right: 0px !important;
}
.form-group {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
textarea {
  resize: none;
}
main {
  margin-top: 100px;
  margin-bottom: 50px;
}
.add-btn {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  background: #fbcd00;
  font: 16px 'PT Sans' !important;
  color: #333 !important;
  line-height: 1.1 !important;
}
.add-btn:hover {
  background: #ffd92f;
}
.add-btn span {
  padding-left: 5px;
}
.object-wrapper {
  position: relative;
}
.object-wrapper:hover .overlay {
  opacity: 0.6;
}
.object-wrapper img {
  width: 100%;
  min-height: 220px;
}
@media screen and (max-width: 500px) {
  .object-wrapper img {
    max-height: 120px;
  }
}
.object-wrapper .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.object-wrapper .description {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding-right: 10px;
  z-index: 10;
}
.object-wrapper .title {
  font: 18px 'PT Sans';
  color: #fff;
  line-height: 1.1;
  font-weight: 700;
}
.captcha {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #002f40;
}
.send-btn {
  margin-bottom: 20px !important;
  font: 16px 'PT Sans' !important;
  color: #fff !important;
  line-height: 1.1 !important;
  margin: 20px auto 20px;
  display: block;
}
iframe {
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 992px) {
  iframe {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  iframe {
    height: 300px;
  }
}
.object-description {
  padding-top: 20px;
  padding-bottom: 40px;
}
.object-description span {
  font: 18px 'PT Sans';
  color: #212121;
  line-height: 1.5;
}
